/* Estilos generales */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
  }
  
  /* Estilos de encabezado y menú */
  header {
    background-color: #333;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  nav ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul.menu li {
    margin-right: 20px;
  }
  
  nav ul.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
  }
  
  nav ul.menu li:hover ul.submenu {
    display: block;
  }
  
  nav ul.submenu li {
    display: block;
  }
  
  .search-bar {
    display: flex;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  /* Estilos de sección principal */
  .hero-section {
    padding: 100px 0;
    text-align: center;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-family: 'Orbitron', Arial, sans-serif;
    font-size: 36px;
    color: #fff;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #ee742b;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #c44d1d;
  }
  
  .featured-section {
    padding: 80px 0;
    text-align: center;
    background-color: #fff;
  }
  
  .featured-section h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #333;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-items: center;
  }
  
  .product-card {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .product-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .product-link {
    padding: 10px 20px;
    background-color: #ee742b;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-link:hover {
    background-color: #c44d1d;
  }
  
  .special-offers {
    padding: 80px 0;
    text-align: center;
    background-color: #222;
  }
  
  .special-offers h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #fff;
  }
  
  .offer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-items: center;
  }
  
  .offer-card {
    background-color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
  }
  
  .offer-card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .offer-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .offer-card p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .offer-link {
    padding: 10px 20px;
    background-color: #ee742b;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .offer-link:hover {
    background-color: #c44d1d;
  }
  
  /* Estilos de pie de página */
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  