body {
    background-color: black;
    color: #ccff00;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  p {
    font-size: 14px;
  }
  
  a {
    color: #ccff00;
  }
  